$BASIC_FONT: 'Montserrat-Medium';
@import "~react-vis/dist/style";
html {
  font-size: 16px;
}
.chart {

}
.userInfo {
  font-family: $BASIC_FONT;
  min-height: calc(100vh - 136px);
  @media (max-width: 768px) {
    padding: 20px 30px;
      min-height: calc(100vh - 116px);
  }
  @media (max-width: 460px) {
    min-height: calc(100vh - 92px);
    padding: 10px 20px;
  }
  width: 100%;
  padding: 50px 100px;
  box-sizing: border-box;
}